body {
    background: #FAFAFA;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}
.flex-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    height: 70px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 38px;
}

.container {
    width: 70vw;
    margin: 80px auto 0 auto;
}

.create {
    height: 180px;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    /* display: none; */
}

.create div {
    width: 20%;
}

.create p {
    color: #B9B9B9;
    font-size: 20px;
}

.create-btn {
    height: 40px;
    padding: 10px 15px;
    margin-top: 15px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    text-align: center;
    transition: ease-in-out .2s;
}
.create-btn:hover {
    cursor: pointer;
    background-color: #EC362D;
    color: #fff;
}

.create-small-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.create-small-btn:hover {
    cursor: pointer;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.list {
    margin-top: 50px;
}

.list-user {
    display: block;
}

.quizzes-list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quizzes-list-user {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz-card {
    width: 340px;
    height: 180px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000000 100%), url(../assets/teste.jpg);
    background-size: cover;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

.quizz-card h2 {
    width: 320px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}




@media (max-width: 1100px){
    .container {
        width: 95vw;
        margin: 30px auto 0 auto;
    }
    .create div {
        width: 70%;
    }
    .quizz-card {
        width: 95vw;
    }
    .quizz-card h2 {
        width: 50%;
    }
}

@media (max-width: 750px){
    .quizz-card h2 {
        width: 70%;
    }
    .quizz-card {
        background-position: 50%;
    }
}