* {
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}

.hide {
    display: none !important;
}

.flex-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    height: 70px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 38px;
    cursor: pointer;
}

.container {
    width: 70vw;
    margin: 80px auto 0 auto;
}

.create {
    height: 180px;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.create div {
    width: 20%;
}

.create p {
    color: #B9B9B9;
    font-size: 20px;
}

.create-btn {
    height: 40px;
    padding: 10px 15px;
    margin-top: 15px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    text-align: center;
    transition: ease-in-out .2s;
}
.create-btn:hover {
    cursor: pointer;
    background-color: #EC362D;
    color: #fff;
}

.create-small-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.create-small-btn:hover {
    cursor: pointer;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.list {
    margin-top: 50px;
}

.list-user {
    display: block;
}

.quizzes-list {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    gap: 0 5px;
}
.quizzes-list-user {
    width: 100%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
    gap: 0 5px;
}

.quizz-card {
    width: 100%;
    min-width: 255px;
    height: 180px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000000 100%), url(../assets/teste.jpg);
    background-size: cover;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

.quizz-card h3 {
    width: 80%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    overflow-x: hidden;
}

.quizz-page, .questions-list {
    margin: 0 auto;
}

.quizz-page {
    margin-bottom: 100px;
}
.questions-list {
    max-width: 900px;
}

.banner-quizz {
    height: 220px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(https://s3-alpha-sig.figma.com/img/60f6/4bae/cb4c4e815fc36d9f0f0579a657241eba?Expires=1638144000&Signature=cqsR1gZIngLBQPZ6LeL~vWnXsiDVfmQfBKYm6yHFxTCpkJNI4l~uNmpM4KredvdqP4M4T8h2xvw-kEkW91z3Ii8L~jTr-AIxLemInFf6fpM1-9tG2vQjPhlIeSgyhGfLiR5p53jnvg~uRzAgjshXhSaSxCjbyCtFzBmvzLYS8Zq0GxXw2MKCq3xRg18DnPy~qpJTrPQnSwp-h1dEFiVC5vcriL42Rn4qCtaKpDlf8KPGTVZO8WmsDKlW-IzcZhbLaRpc3HacjA9EELnZR8nZzw22qHuROyoyhKmVGM1OU2OF9Nej~Y~p5eFFXWzcLQ0VjG-0dApwkzDBqnpchxoF8w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    padding: 0 20px;
    overflow-x: hidden;
}

.banner-quizz h1 {
    font-weight: normal;
}

.questions {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin: 40px auto 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    box-sizing: border-box;
}

.question {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 20px 0;
}

.question-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-x: hidden;
    text-align: center;
}

.question-title h2 {
    max-width: 80%;
    color: #fff;
}

.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 15px;
}

.answer {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    overflow-x: hidden;
}

.off .answer-image, .off .answer-text {
    opacity: .4;
}

.falseOn .answer-text h3 {
    color: #FF4B4B;
}
.trueOn .answer-text h3 {
    color: #009C22;
}

.false.off .answer-text h3{
    color: #FF4B4B;
}
.true.off .answer-text h3{
    color: #009C22;
}

.answer-image {
    width: 100%;
    height: 100%;
    background-image: url(https://s3-alpha-sig.figma.com/img/7212/aa92/e0229a2cb5aea15ab3fd2b5d36cb9a60?Expires=1638144000&Signature=E-djO4UvnSNyGrh4porzOF3~ateDCWBO7F03TgYzJFjSa02ZWO-YximHyOVzp2mV87abw44lrUzQjKrJ44Acd-S2xSfkrtbDvTQN3-QiLDB-fJH8ml48RD6RD-X7V9oKUBg7NFaZzmq~V3ra~iewSHFKNFS9d5KUwQanKvcqYIYKgmkEaePHMifpKIJ3FSjXHeV1JTP7VLnuFKIM5qbwhCJVlYJsv29HmJDft6BpbXsss0atSrtN2VdLkr4vnnbeGl9luFqV0MtM3djI5FjBhy3FUGrNvU2MPEUVEfChpLh1zcER1JBAsXC8iW3fELbPU0WwN2P9A1l5Ob5fSenSIA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    background-position: center;
}
.answer-text {
    padding: 10px 0;
}
.answer-text h3 {
    color: #000;
    font-weight: bold;
}

.result {
    width: 100%;
    height: 70vh;
    background-color: #fff;
    margin: 40px auto 0 auto;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    padding: 30px 40px;
    box-sizing: border-box;
}

.result-grid {
    width: 100%;
    height: 100%;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 10px;
    overflow-x: hidden;
}

.text-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding: 15px 10px;
    overflow-x: hidden;
}

.quizz-page button {
    margin: 65px 0 20px 0;
    padding: 10px 40px;
    border-radius: 15px;
    background: #EC362D;
    color: #FFFFFF;
}

button:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #818181;
}

.btns {
    text-align: center;
}

.image-result {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-result h2 {
    max-width: 80%;
    color: #fff;
    font-size: 30px;

}

.description-result {
    overflow-x: hidden;
}

.description-result h2 {
    font-size: 30px;
}



.quizz-maker h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
}

.quizz-maker .box {
    width: 600px;

    gap: 9px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-maker button {
    width: 360px;
    height: 54px;

    margin: 65px 0;

    border-radius: 15px;

    background: #EC362D;
    color: #FFFFFF;
}

.quizz-finished {
    width: 40vw;
    margin: 0 auto;
    gap: 20px;
}

.quizz-finished button {
    margin: 0;
    width: auto;
    height: 40px;
    padding: 0 40px;
}

.quizz-finished a {
    text-decoration: none;
    color: #818181;
}
.quizz-finished .finished-created-quizz {
    width: 100%;
}

.box input {
    width: 564px;
    height: 46px;

    padding-left: 23.16px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;

    color: #000000;
}

.box input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;

    color: #BABABA;
}

.quizz-definition .box {
    margin: 27px auto 85px auto;
    padding: 21px 20px 24px 16px;
}

.flex-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    text-align: initial;
}

.quizz-questions, .quizz-levels {
    gap: 24px;
}

.quizz-questions .box, .quizz-levels .box {
    padding: 20px 18px;
}

.question-maker, .level {
    display: flex;
    flex-flow: column;
    gap: 14px;
}

.quizz-questions h2 {
    margin: 20px 0 0 0;
}

.quizz-questions .box h2:first-child{
    margin: 0;
}

.open-form {
    display: flex;
    justify-content: space-between;
}

.closed-form {
    height: 55px;
    
    overflow-y: hidden;
}

.back-btn:hover {
    cursor: pointer;
}



@media (max-width: 1100px){
    .container {
        width: 95vw;
        margin: 30px auto 0 auto;
    }
    .create div {
        width: 70%;
    }
    .quizzes-list-user, .quizzes-list {
        grid-template-columns: 1fr 1fr;
    }
    .quizz-card {
        width: 100%;
    }
    .quizz-card h3 {
        width: 80%;
    }
    .result-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
    }
    .text-result {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EC362D;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }
}

@media (max-width: 750px){
    .quizzes-list-user, .quizzes-list {
        grid-template-columns: 1fr;
    }
    .container {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .quizz-card h3 {
        width: 70%;
    }
    .quizz-card {
        background-position: 50%;
    }
    .questions, .result {
        padding: 30px 10px;
        margin: 40px 0 0 0;
    }
    .question-title h2 {
        padding: 0 20px;
        text-align: center;
    }
    .section-title {
        justify-content: space-between;
    }
}